<!DOCTYPE html>
<html lang="en">



<body>
    <app-header></app-header>
    <app-menu></app-menu>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Data Tables</h1>

        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">List</h5>

                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Date debut</th>
                                        <th scope="col">Date fin</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <th scope="row"></th>
                                        <td></td>
                                        <td><img style="width:90px;height:90px"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a href="#" type="submit" class="btn btn-success">Modifier</a>
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->
    <app-footer></app-footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>



</body>

</html>