<!-- app-etudiant-liste.component.html -->

<app-header></app-header>
<app-menu></app-menu>

<main id="main" class="main">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Liste des Etudiants</h5>
              <button class="blue-button" (click)="createEtudiant()">Ajouter</button>
            </div>

            <div class="custom-search-bar">
                <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="getEtudiants()" placeholder="Rechercher par nom ou prénom" />
                <span class="search-icon" (click)="getEtudiants()">
                  <i class="fas fa-search"></i> <!-- Icône de la loupe -->
                </span>
              </div>
              

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>
                    Id Etudiant
                  </th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Ecole</th>
                  <th>Cin</th>
                  <th>Date de Naissance</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let etudiant of etudiants">
                  <td>{{ etudiant.idEtudiant }}</td>
                  <td>{{ etudiant.nomEt }}</td>
                  <td>{{ etudiant.prenomEt }}</td>
                  <td>{{ etudiant.ecole }}</td>
                  <td>{{ etudiant.cin }}</td>
                  <td>{{ etudiant.dateNaissance | date: 'short' }}</td>
                  <td>
                    <button *ngIf="etudiant.idEtudiant !== undefined"
                      (click)="deleteEtudiant(etudiant.idEtudiant)" class="btn btn-transparent">
                      <i class="btn btn-danger">Supprimer</i>
                    </button>

                    <span class="button-space"></span>

                    <button *ngIf="etudiant.idEtudiant !== undefined"
                      [routerLink]="'update/' + etudiant.idEtudiant" class="btn btn-transparent">
                      <i class="btn btn-success me-2">Modifier</i>
                    </button>

                    <span class="button-space"></span>

                    <button *ngIf="etudiant.idEtudiant === undefined" [routerLink]="'create'"
                      class="btn btn-transparent">
                      <i class="material-icons">Ajouter</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
