div#navBarContainer {
    background: #003049;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;

    button{
        color: white;
    }
}
.active{
    background-color: #FCBF49;
    width: 100%;
}
.container{
    margin-left: 230px;
    margin-right: 30px;
    margin-top: 50px;
}