<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/products">
        <i class="bi bi-envelope"></i>
        <span>Produits</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/categories">
        <i class="bi bi-envelope"></i>
        <span>Catégories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/clients">
        <i class="bi bi-envelope"></i>
        <span>Clients</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/invoice">
        <i class="bi bi-envelope"></i>
        <span>Facture</span>
      </a>
    </li>

  </ul>

</aside>
