<app-header></app-header>
<app-menu></app-menu>

<main id="main" class="main">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ajouter Universite</h5>

      <!-- Multi Columns Form -->
      <form class="row g-3" (ngSubmit)="addNewUniversite()" [formGroup]="BlocForm">
        <div class="col-md-12">
          <label for="inputName5" class="form-label">Nom de l'universite :</label>
          <input type="text" class="form-control" formControlName="nomUniversite">
          <div *ngIf="validateField('nomUniversite')" class="error-message">
            {{ getErrorMessage('nomUniversite') }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputAddress5" class="form-label">Adresse :</label>
          <input type="text" class="form-control" formControlName="adresse">
          <div *ngIf="validateField('adresse')" class="error-message">
            {{ getErrorMessage('adresse') }}
          </div>
        </div>
        <div class="col-md-12">
          <label for="inputFoyer" class="form-label">Foyer :</label>
          <select id="inputFoyer" class="form-select" formControlName="foyer">
            <option value="" selected disabled>Choisissez un foyer</option>
            <option *ngFor="let foyer of foyers" [value]="foyer.idFoyer">{{ foyer.nomFoyer }}</option>
          </select>
          <div *ngIf="validateField('foyer')" class="error-message">
            {{ getErrorMessage('foyer') }}
          </div>
        </div>
                
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Ajouter</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form><!-- End Multi Columns Form -->

    </div>
  </div>
</main>

<app-footer></app-footer>