<app-header></app-header>
<app-menu></app-menu>

<main id="main" class="main">
  <section class="section">
    <div class="container">

      <div class="card">
        <div class="card-body">
          
          <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Liste des universités</h5>
              <button class="blue-button" [routerLink]="'create'">Ajouter Universite</button>
            </div>

          <!-- Champ de recherche -->
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="recherche">
            
          
          </div>
          

                    <!-- Boutons de tri -->
          <div class="text-end">
            <button class="btn btn-primary btn-sm me-2" (click)="triParNom()">Trier par nom</button>
            <button class="btn btn-primary btn-sm" (click)="triParAdresse()">Trier par adresse</button>
          </div>

          <!-- Tableau avec les données des universités -->
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th>Id Université</th>
                <th>Nom université</th>
                <th>Adresse</th>
                <th>Foyer</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let universite of universites | filter: recherche">
                <td>{{ universite?.idUniversite }}</td>
                <td>{{ universite?.nomUniversite }}</td>
                <td><a href="#" (click)="localiserUniversite(universite)">{{ universite.adresse }}</a></td>
                <td>{{ universite?.Foyer?.idFoyer }}</td>
                <td>
                  <a [routerLink]="['update/', universite.idUniversite]" class="btn btn-success me-2">Modifier</a>
                  <button type="submit" class="btn btn-danger" (click)="onDeleteBloc(universite)">Supprimer</button>
                </td>
                
              </tr>
              
            </tbody>
          </table>

          

          <!-- Bouton pour exporter en PDF -->
          <div class="text-center mt-4">
            <button class="btn btn-primary" (click)="ExportPdf()">Exporter en PDF</button>
          </div>

        </div>
      </div>

    </div>
  </section>
</main>

<app-footer></app-footer>