<app-header></app-header>
<app-menu></app-menu>

<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- Section Title -->
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Liste des produits</h5>
              </div>

            </div>


            <!-- Product Modal -->
            <ng-template #productModal let-modal>
              <div class="modal-header">
                <h4 class="modal-title">{{ isEditMode ? 'Edit' : 'Add' }} Product</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="name">Nom du produit</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" class="form-control" formControlName="description">
                  </div>
                  <div class="form-group">
                    <label for="price">Prix</label>
                    <input type="number" id="price" class="form-control" formControlName="price">
                  </div>
                  <div class="form-group">
                    <label for="quantity">Quantité</label>
                    <input type="number" id="quantity" class="form-control" formControlName="quantity">
                  </div>
                  <div class="form-group">
                    <label for="category">Catégorie</label>
                    <select id="category" class="form-control" formControlName="category">
                      <option value="" disabled selected>Choisir une catégorie</option>
                      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </ng-template>

            <!-- Search Box -->
            <div class="row">
              <div class="col-6">
                <div class="search-container">
                  <input
                    [(ngModel)]="searchValue"
                    type="search"
                    placeholder="Search..."
                    class="search-input form-control ml-25"
                    (keyup)="filterProducts($event)"
                  />
                  <a class="search-btn">
                    <i class="fas fa-search"></i>
                  </a>
                </div>
              </div>
              <div class="col-6 " style="text-align: right">
                <!-- Add Product Button -->
                <button class="btn btn-primary " (click)="openProductModal()">
                  <i class="fa fa-plus mr-1"></i>Ajouter un produit
                </button>
              </div>
            </div>

            <!-- Product Table -->
            <ngx-datatable
              class="bootstrap core-bootstrap"
              [rows]="filteredProducts"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [scrollbarH]="true">

              <!-- Product Name Column -->
              <ngx-datatable-column name="Nom" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Description Column -->
              <ngx-datatable-column name="Description" prop="description">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.description }}
                </ng-template>
              </ngx-datatable-column>
              <!-- Reference Column -->
              <ngx-datatable-column name="Référence" prop="reference">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.reference }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Price Column -->
              <ngx-datatable-column name="Prix" prop="price">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.price }} TND
                </ng-template>
              </ngx-datatable-column>

              <!-- Quantity Column -->
              <ngx-datatable-column name="Quantité" prop="quantity">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.quantity }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Category Column -->
              <ngx-datatable-column name="Catégorie" prop="category.name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.category.name }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Actions Column -->
              <ngx-datatable-column name="Actions">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button type="button" class="btn btn-warning btn-sm" (click)="openEditModal(row)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(row.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
